body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 7rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-title {
    width: 64rem; 
}

.events-title h1{
    font-family: Lalezar, cursive;
    font-size: 3rem;
}

.event-container {
    margin: 2.5rem 0;
    padding: 3.75rem 3.125rem 5rem;
    
    width: 64rem;
    height: 24rem;
    
    background-color: var(--white-default);
    
    border-radius: 0.625rem;
    box-shadow: 0px 7px 7px 4px rgba(0, 0, 0, 0.37); 
    
    display: flex;
    flex-direction: column;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-container p {
    font-family: 'Noto Sans', sans-serif;
}

.event-name {
    font-family: Lalezar, cursive;
    font-size: 2.5rem;
}

.container-main {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.content-side {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.event-description {
    width: 30rem;
}
.date-side {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.organizer-p {
    font-weight: bold;
}

.buy-ticket-button {
    width: 23.75rem;
    height: 3.75rem;

    color: var(--white-default);
    background-color: var(--beautiful-purple);

    font-family: 'Lalezar', cursive;
    font-size: 2rem;

    border: none;
    border-radius: 0.625rem;

    transition: background-color 1s ease;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.buy-ticket-button:hover {
    background-color: var(--hover-purple);
}

.buy-ticket-button > a {
    color: #fff;

    font-family: 'Lalezar', cursive;
    font-size: 2rem;

    text-decoration: none;
    line-height: 1rem;
}