.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
}

.main {
    height: 38.75rem;
    background-color: var(--beautiful-purple);
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.hero {
    margin: 5rem;
    padding: 2.5rem 7.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > h1 {
    margin: 1rem;
    color: #fff;
    font-family: 'Lalezar', cursive;
    font-size: 4rem;
}

.hero > p {
    margin-top: 1rem;
    width: 60%;
    color: #fff;
    font-family: 'Lalezar', cursive;
    font-size: 1.5rem;
}

.event-hero-button {
    margin: 3rem 0;
    padding: 1.5rem 1rem;

    width: 25rem;
    
    background-color: var(--not-a-black);
    
    text-align: center;

    border-radius: 2.5rem;

    cursor: pointer;
}

.event-hero-button > a {
    color: #fff;
    
    font-family: 'Lalezar', cursive;
    font-size: 2rem;
    
    text-decoration: none;
    line-height: 1rem;
}

.section-ticket, .section-search{
    padding: 6.25rem 11.25rem;

    /* height: 38rem; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-search {
    flex-direction: row-reverse;
}

.section-text-content {
    display: flex;
    flex-direction: column;
}

.section-text-content > h2{
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
}

.section-text-content > p {
    width: 36.25rem;

    font-family: 'Lalezar', cursive;
    font-size: 1.5rem;
}

.buy-tickets-button {
    margin-top: 4.5rem;
    padding: 1.5rem 1rem;

    width: 25rem;
    
    background-color: var(--beautiful-purple);

    text-align: center;

    border-radius: 0.625rem;

    cursor: pointer;
}

.buy-tickets-button > a {
    color: #fff;

    font-family: 'Lalezar', cursive;
    font-size: 2rem;

    text-decoration: none;
    line-height: 1rem;
}

.section-ticket > img, .section-search > img {
    width: 24.25rem;
    height: 24.25rem;
} 

.section-ticket > img {
    margin-bottom: 3rem;
}
