:root {
  --white-default: #fff;
  --ice-white: #b4b4b4;
  --beautiful-purple: #404eed;
  --hover-purple: #5f6bf1;
  --background-purple: #404eedd9;
  --not-a-black: #23272A;
  --dark-not-a-black: #2A2D30;
  --cute-gray: #3D4042;
  --lime-green: #84CA6C;
  --shiny-lime-green: #63FF2C;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
