.app-container {
    width: 98vw;
    height: 100vh;
    background-color: #fff;
}

.header {
    background-color: var(--beautiful-purple);
    padding: 0 11.25rem;
}

.header-nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 7.1rem;
    display: flex;
    gap: 2.5rem;
}

.nav-links > a {
    color: #fff;
    font-size: 1.375rem;
    font-family: 'Modak', cursive;
    text-decoration: none;
}

.login-button {
    width: 4.75rem;
    /* margin-left: 2.5rem; */
    background-color: #fff;
    border-radius: 2.5rem;

    display: flex;
    flex-flow: row-reverse;
}

.login-button > a {
    color: var(--not-a-black);
    padding: 0.438rem 1rem;
    line-height: 1.5rem;
    font-family: 'Noto sans', sans-serif;
    text-decoration: none;
}

.main {
    height: 38.75rem;
    background-color: var(--beautiful-purple);
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.hero {
    margin: 5rem;
    padding: 2.5rem 7.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero > h1 {
    margin: 1rem;
    color: #fff;
    font-family: 'Lalezar', cursive;
    font-size: 4rem;
}

.hero > p {
    margin-top: 1rem;
    width: 60%;
    color: #fff;
    font-family: 'Lalezar', cursive;
    font-size: 1.5rem;
}

.event-hero-button {
    margin: 2rem 0;
    width: 25rem;
    padding: 1rem 1rem;
    background-color: var(--not-a-black);
    border-radius: 2.5rem;
}

.event-hero-button > a {
    color: #fff;
    font-family: 'Modak', cursive;
    font-size: 2rem;
    text-decoration: none;
}

.section{
    height: 42.5rem;
}

.footer {
    height: 18.75rem;
    background-color: var(--not-a-black);
}


